  .container {
    width: 76vw;
    height: 100vh;
    position: relative;
  
    overflow: hidden;
  }
  
  .draggable {
    position: absolute;
    border: 2px solid #333;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: z-index 0.2s;  
  }
  
  .content {
    padding: 10px;
    box-sizing: border-box;
  }
  .window-header {
    cursor: move;
    padding-left: 8px;
    padding-right: 8px;
    font-weight: bold;
    color: white;
    background: #6306fa;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .window-controls {
    display: flex;
  }
  
  .window-button {
    background: none;
    color: white;
    border: none;
    cursor: pointer;
 padding: 10px;
  }
  






















 